{% extends 'common/base.html' %}

{% block content %}
    {% if car_list %}
        <section id="catalogue">
        <h1>Total cars: {{ car_list.count }}</h1>
        
        {% for car in car_list %}
            <div class="car-card">
                <div class="image-wrap">
                    <img src="{{ car.image_url }}" alt="Rally"/>
                </div>
                <h3>{{ car.type }}</h3>
                <h1>{{ car.model }}</h1>
                
                <div class="details-buttons">
                    <a href="{% url 'car-details' car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% endfor %}
        
    </section>
        
    {% else %}
        <p class="no-articles">No cars yet</p>
    {% endif %}
{% endblock %}